<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="x_panel">
      <h2>{{action_type}} City/Town</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" enctype="multipart/form-data" novalidate>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && city_name.invalid }">
              <label>City/Town:</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <input type="text" class="form-control" name="city_name" placeholder="City/Town" [(ngModel)]="citytown.city_name" #city_name="ngModel"
                required pattern="^[A-Za-z_ ]{0,50}$" />
              <span *ngIf="f.submitted && city_name.invalid" class="help-block">
                <div *ngIf="city_name.errors.required">City/Town is required</div>
                <div *ngIf="city_name.errors.pattern">Must contain only Alphabets </div>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && city_state.invalid }">
              <label>State:</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <select class="form-control select2" name="city_state" [(ngModel)]="citytown.city_state" #city_state="ngModel" required>
                <option value="" disabled>--select-- </option>
                <option *ngFor="let state of states" [value]="state.id">{{state.state_name}}</option>
              </select>
              <span *ngIf="f.submitted && city_state.invalid" class="help-block">
                <div *ngIf="city_state.errors.required">State is Required</div>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && city_country.invalid }">
              <label>Country:</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <select class="form-control select2" name="city_country" [(ngModel)]="citytown.city_country" #city_country="ngModel" required>
                <option value="" disabled>--select-- </option>
                <option *ngFor="let country of countries" [value]="country.id">{{ country.country_name }}</option>
              </select>
              <span *ngIf="f.submitted && city_country.invalid" class="help-block">
                <div *ngIf="city_country.errors.required">Country is Required</div>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && status.invalid }">
              <label>Status</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <select name="status" class="form-control" [(ngModel)]="citytown.status" #status="ngModel" required>
                <option value="" disabled>--select-- </option>
                <option value="1">Publish </option>
                <option value="0">UnPublish</option>
              </select>
              <span *ngIf="f.submitted && status.invalid" class="help-block">
                <div *ngIf="status.errors.required">Status is required</div>
              </span>
            </div>
          </div>
        </div>
        <!--
            <div *ngIf="loginErrors" class="alert alert-danger">{{loginErrors.error|json}}</div>
            -->
        <hr/>
        <div class="row">
          <div class="col-md-6 col-md-offset-6">

            <div *ngIf="errors" class="alert alert-danger">{{errors.error|json}}</div>

            <a class="btn btn-danger pull-right" [routerLink]="'/systemconfig/citytown/'">
              <i class="fa fa-close"></i> Cancel</a>
            <button class="btn btn-primary pull-right" [disabled]="loading" type="submit"><i class="fa fa-save"></i> {{ form_action }}
            </button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
