<div class="x_panel">
  <h2>Help Documentation</h2>
</div>

<div class="x_panel">
  <div class="x_title">
    <h2>Username and Password of UserTypes</h2>

    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>User Type</th>
          <th>Username</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Student</td>
          <td>Student Unique ID</td>
          <td>Date of Birth - <code>DD/MM/YYYY</code>(eg: 04/12/1988)</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Parent</td>
          <td>Email</td>
          <td>Personal Mobile Number</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Employee</td>
          <td>Email</td>
          <td>Date of Birth - <code>DD/MM/YYYY</code>(eg: 04/12/1988)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>