<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="x_panel">
      <h2>{{action_type}} Sms credentials</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" enctype="multipart/form-data" novalidate>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && name.invalid }">
              <label>Name:</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <input type="text" class="form-control" name="name" placeholder="User Name" [(ngModel)]="smscredentials.name"
                #name="ngModel" required />
              <span *ngIf="f.submitted && name.invalid" class="help-block">
                <div *ngIf="name.errors.required">User Name is required</div>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && sender.invalid }">
              <label>Sender:</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <input type="text" class="form-control" name="sender" placeholder="sender" [(ngModel)]="smscredentials.sender"
                #sender="ngModel" required />
              <span *ngIf="f.submitted && sender.invalid" class="help-block">
                <div *ngIf="sender.errors.required">Sender is required</div>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && request_url.invalid }">
              <label>Request_url:</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <input type="text" class="form-control" name="request_url" placeholder="request url" [(ngModel)]="smscredentials.request_url"
                #request_url="ngModel" required />
              <span *ngIf="f.submitted && request_url.invalid" class="help-block">
                <div *ngIf="request_url.errors.required">request url is required</div>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && api_key.invalid }">
              <label>API Key:</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <input type="text" class="form-control" name="api_key" placeholder="api key" [(ngModel)]="smscredentials.api_key"
                #api_key="ngModel" required />
              <span *ngIf="f.submitted && api_key.invalid" class="help-block">
                <div *ngIf="api_key.errors.required">api key is required</div>
              </span>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && smtp_security.invalid}">
                <label>Test Status:</label>
                <span class="mandatory">
                  <font color="red"> * </font>
                </span>
                <select class="form-control select2" name="test_status" [(ngModel)]="smscredentials.test_status" #test_status="ngModel"
                  required>
                  <option value="" disabled>--select-- </option>
                  <option *ngFor="let security of securities" [value]="security.id">{{ security.label }}</option>
                </select>
                <span *ngIf="f.submitted && smtp_security.invalid" class="help-block">
                  <div *ngIf="test_status.errors.required">Test Status Required</div>
                </span>
              </div>
            </div> -->
          </div>
    <!-- <div class="row"> -->
    
          
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && status.invalid }">
              <label>Status</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <select name="status" class="form-control" [(ngModel)]="smscredentials.status" #status="ngModel" required>
                <option value="" disabled>--select-- </option>
                <option value="1">Publish </option>
                <option value="0">UnPublish</option>
              </select>
              <span *ngIf="f.submitted && status.invalid" class="help-block">
                <div *ngIf="status.errors.required">Status is required</div>
              </span>
            </div>
          </div>
          </div>
        <!-- </div> -->
        <!--
            <div *ngIf="loginErrors" class="alert alert-danger">{{loginErrors.error|json}}</div>
            -->
        <hr/>
        <div class="row">
          <div class="col-md-6 col-md-offset-6">

            <div *ngIf="errors" class="alert alert-danger">{{errors.error|json}}</div>

            <a class="btn btn-danger pull-right" [routerLink]="'/systemconfig/emailcredentials/'">
              <i class="fa fa-close"></i> Cancel</a>
            <button class="btn btn-primary pull-right" [disabled]="loading" type="submit"> <i class="fa fa-save"></i> {{ form_action }}
            </button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>




