<app-menu></app-menu>
<app-topnav-bar></app-topnav-bar>
<div class="right_col" role="main">

  <div id="overlay">
    <div id="overlay_text" style="text-align: center">
      <div class="spinner-lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h5>Please wait while loading...</h5>
    </div>
  </div>
  <!--<app-toolbar></app-toolbar>-->
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
