<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <h2>{{action_type}} Organization</h2>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" enctype="multipart/form-data"
                novalidate>
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="profile_img">
                            <div id="crop-avatar">
                                <img class="img-responsive avatar-view" src="{{organization.org_logo ? organization.org_logo : 'assets/images/school_logo.png'}}"
                                    alt="Avatar" title="Change the avatar" style="border-radius:50%">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && org_name.invalid }">
                                    <label>Name:</label>
                                    <span class="mandatory">
                                        <font color="red"> * </font>
                                    </span>
                                    <input type="text" class="form-control" name="org_name" placeholder="Name"
                                        [(ngModel)]="organization.org_name" #org_name="ngModel" required />
                                    <span *ngIf="f.submitted && org_name.invalid" class="help-block">
                                        <div *ngIf="org_name.errors.required">Name is required </div>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Alias:</label>
                                    <input type="text" class="form-control" name="org_alias" placeholder="Alias"
                                        [(ngModel)]="organization.org_alias" #org_alias="ngModel" />

                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Code:</label>
                                    <input type="text" class="form-control" name="org_code" placeholder="Code"
                                        [(ngModel)]="organization.org_code" #org_code="ngModel" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && org_address_line1.invalid }">
                                    <label>Address Line 1:</label>
                                    <span class="mandatory">
                                        <font color="red"> * </font>
                                    </span>
                                    <input type="text" class="form-control" name="org_address_line1" placeholder="Address Line 1"
                                        [(ngModel)]="organization.org_address_line1" #org_address_line1="ngModel"
                                        required />
                                    <span *ngIf="f.submitted && org_address_line1.invalid" class="help-block">
                                        <div *ngIf="org_address_line1.errors.required"> Address is required </div>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && org_address_line2.invalid }">
                                    <label>Address Line 2:</label>
                                    <span class="mandatory">
                                        <font color="red"> * </font>
                                    </span>
                                    <input type="text" class="form-control" name="org_address_line2" placeholder="Address Line 2"
                                        [(ngModel)]="organization.org_address_line2" #org_address_line2="ngModel"
                                        required />
                                    <span *ngIf="f.submitted && org_address_line2.invalid" class="help-block">
                                        <div *ngIf="org_address_line2.errors.required"> Address is required </div>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && org_phone.invalid }">
                                    <label>Contact No:</label>
                                    <span class="mandatory">
                                        <font color="red"> * </font>
                                    </span>
                                    <input type="text" class="form-control" name="org_phone" placeholder="Phone"
                                        [(ngModel)]="organization.org_phone" #org_phone="ngModel" required pattern="^[0-9]{0,10}$"
                                        minlength="10" maxlength="10" />
                                    <span *ngIf="f.submitted && org_phone.invalid" class="help-block">
                                        <div *ngIf="org_phone.errors.required">Phone Number is required.</div>
                                        <div *ngIf="org_phone.errors.minlength">Must contain 10 digits.</div>
                                        <div *ngIf="org_phone.errors.pattern">Must contain only numbers.</div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && org_email.invalid }">
                                    <label>Email:</label>
                                    <span class="mandatory">
                                        <font color="red"> * </font>
                                    </span>
                                    <input type="text" class="form-control" name="org_email" placeholder="Email"
                                        [(ngModel)]="organization.org_email" #org_email="ngModel" email required />
                                    <span *ngIf="f.submitted && org_email.invalid" class="help-block">
                                        <div *ngIf="org_email.errors.required">Email is required.</div>
                                        <div *ngIf="org_email.errors.email">Email must be a valid email address.</div>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && org_website.invalid }">
                                    <label>Website:</label>
                                    <input type="text" class="form-control" name="org_website" placeholder="Website"
                                        [(ngModel)]="organization.org_website" #org_website="ngModel" />
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Logo:</label>
                                    <input type="file" placeholder="Logo" name="org_logo" accept=".jpeg, .jpg, .png, .pdf, .doc"
                                        class="form-control" (change)="onFileChanged($event)">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && institute_info.invalid }">
                                <label>Institution Information:</label>
                                <textarea class="form-control" name="institute_info" placeholder="Institution information"
                                    cols="5" [(ngModel)]="organization.institute_info" #institute_info="ngModel"></textarea>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Institution Image:</label>
                    
                    
                                    <input type="file" placeholder="Image" name="institute_image" accept=".jpeg, .jpg, .png" class="form-control"
                                        (change)="onFileChangedFunction($event)">
                                    <img [src]="url" height="170"> <br />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && status.invalid }">
                                    <label>Status</label>
                                    <span class="mandatory">
                                        <font color="red"> * </font>
                                    </span>
                                    <select name="status" class="form-control" [(ngModel)]="organization.status" #status="ngModel" required>
                                        <option value="" disabled>--select-- </option>
                                        <option value="1">Publish </option>
                                        <option value="0">UnPublish</option>
                                    </select>
                                    <span *ngIf="f.submitted && status.invalid" class="help-block">
                                        <div *ngIf="status.errors.required">Status is required</div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Logo:</label>
                            <input type="file" placeholder="Logo" name="org_logo"  accept=".jpeg, .jpg, .png" class="form-control" (change)="onFileChanged($event)">
                        </div>
                    </div> -->

                    <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <img class="img-responsive avatar-view" src="{{organization.institute_image ? organization.institute_image : 'assets/images/school_logo.png'}}" alt="Avatar"
                                title="Change the avatar" style="border-radius:50%">
                        </div>
                    </div>
                </div> -->
                </div>
                <!--
            <div *ngIf="loginErrors" class="alert alert-danger">{{loginErrors.error|json}}</div>
            -->
                <hr />
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">

                        <div *ngIf="errors" class="alert alert-danger">{{errors.error|json}}</div>

                        <a class="btn btn-danger pull-right" [routerLink]="'/systemconfig/organization/'">
                            <i class="fa fa-close"></i> Cancel</a>
                        <button class="btn btn-primary pull-right" [disabled]="loading" type="submit"> <i class="fa fa-save">
                            </i>{{ form_action }}
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>