<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="x_panel">
      <h2>{{action_type}} State</h2>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" enctype="multipart/form-data" novalidate>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && state_name.invalid }">
              <label>State:</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <input type="text" class="form-control" name="state_name" placeholder="State" [(ngModel)]="state.state_name" #state_name="ngModel"
                required pattern="^[A-Za-z_ ]{0,50}$" />
              <span *ngIf="f.submitted && state_name.invalid" class="help-block">
                <div *ngIf="state_name.errors.required">State is required</div>
                <div *ngIf="state_name.errors.pattern">Must contain only Alphabets </div>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && state_country.invalid }">
              <label>Country:</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <select class="form-control select2" name="state_country" [(ngModel)]="state.state_country" #state_country="ngModel"
                required>
                <option value="" disabled> -- select -- </option>
                <option *ngFor="let country of countries" [value]="country.id">{{ country.country_name }}</option>
              </select>
              <span *ngIf="f.submitted && state_country.invalid" class="help-block">
                <div *ngIf="state_country.errors.required">Country is Required</div>
              </span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && status.invalid }">
              <label>Status</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <select name="status" class="form-control" [(ngModel)]="state.status" #status="ngModel" required>
                <option value="" disabled> -- select -- </option>
                <option value="1">Publish </option>
                <option value="0">UnPublish</option>
              </select>
              <span *ngIf="f.submitted && status.invalid" class="help-block">
                <div *ngIf="status.errors.required">Status is required</div>
              </span>
            </div>
          </div>
        </div>
        <!--
            <div *ngIf="loginErrors" class="alert alert-danger">{{loginErrors.error|json}}</div>
            -->
        <hr/>
        <div class="row">
          <div class="col-md-6 col-md-offset-6">

            <div *ngIf="errors" class="alert alert-danger">{{errors.error|json}}</div>

            <a class="btn btn-danger pull-right" [routerLink]="'/systemconfig/state/'">
              <i class="fa fa-close"></i> Cancel</a>
            <button class="btn btn-primary pull-right" [disabled]="loading" type="submit"> <i class="fa fa-save"></i> {{ form_action }}
            </button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
