<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="x_panel">
      <h2>{{action_type}} Email credentials</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" enctype="multipart/form-data" novalidate>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && smtp_user_name.invalid }">
              <label>User Name:</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <input type="text" class="form-control" name="smtp_user_name" placeholder="User Name" [(ngModel)]="emailcredentials.smtp_user_name"
                #smtp_user_name="ngModel" required />
              <span *ngIf="f.submitted && smtp_user_name.invalid" class="help-block">
                <div *ngIf="smtp_user_name.errors.required">User Name is required</div>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && smtp_password.invalid }">
              <label>Password:</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <input type="text" class="form-control" name="smtp_password" placeholder="Password" [(ngModel)]="emailcredentials.smtp_password"
                #smtp_password="ngModel" required />
              <span *ngIf="f.submitted && smtp_password.invalid" class="help-block">
                <div *ngIf="smtp_password.errors.required">Password is required</div>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && smtp_hostname.invalid }">
              <label>Host Name:</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <input type="text" class="form-control" name="smtp_hostname" placeholder="Host Name" [(ngModel)]="emailcredentials.smtp_hostname"
                #smtp_hostname="ngModel" required />
              <span *ngIf="f.submitted && smtp_hostname.invalid" class="help-block">
                <div *ngIf="smtp_hostname.errors.required">Host Name is required</div>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && smtp_security.invalid}">
              <label>Security:</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <select class="form-control select2" name="smtp_security" [(ngModel)]="emailcredentials.smtp_security" #smtp_security="ngModel" required>
                <option value="" disabled>--select-- </option>
                <option *ngFor="let security of securities" [value]="security.id">{{ security.label }}</option>
              </select>
              <span *ngIf="f.submitted && smtp_security.invalid" class="help-block">
                <div *ngIf="smtp_security.errors.required">Security is Required</div>
              </span>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{  'has-error': f.submitted && smtp_port.invalid  }">
              <label>Port:</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <select class="form-control select2" name="smtp_port" [(ngModel)]="emailcredentials.smtp_port" #smtp_port="ngModel"
                required>
                <option value="" disabled>--select-- </option>
                <option *ngFor="let port of ports" [value]="port.id">{{ port.label }}</option>
              </select>
              <span *ngIf="f.submitted && smtp_port.invalid" class="help-block">
                <div *ngIf="smtp_port.errors.required">Port is Required</div>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && smtp_auth_method.invalid }">
              <label>SMTP Auth Method:</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <input type="text" class="form-control" name="smtp_auth_method" placeholder="SMTP Auth Method" [(ngModel)]="emailcredentials.smtp_auth_method"
                #smtp_auth_method="ngModel" required />
              <span *ngIf="f.submitted && smtp_auth_method.invalid" class="help-block">
                <div *ngIf="smtp_auth_method.errors.required">SMTP Auth Method is required</div>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && status.invalid }">
              <label>Status</label>
              <span class="mandatory">
                <font color="red"> * </font>
              </span>
              <select name="status" class="form-control" [(ngModel)]="emailcredentials.status" #status="ngModel" required>
                <option value="" disabled>--select-- </option>
                <option value="1">Publish </option>
                <option value="0">UnPublish</option>
              </select>
              <span *ngIf="f.submitted && status.invalid" class="help-block">
                <div *ngIf="status.errors.required">Status is required</div>
              </span>
            </div>
          </div>
        </div>
        <!--
            <div *ngIf="loginErrors" class="alert alert-danger">{{loginErrors.error|json}}</div>
            -->
        <hr/>
        <div class="row">
          <div class="col-md-6 col-md-offset-6">

            <div *ngIf="errors" class="alert alert-danger">{{errors.error|json}}</div>

            <a class="btn btn-danger pull-right" [routerLink]="'/systemconfig/emailcredentials/'">
              <i class="fa fa-close"></i> Cancel</a>
            <button class="btn btn-primary pull-right" [disabled]="loading" type="submit"><i class="fa fa-save"></i> {{ form_action }}
            </button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>




