<div class="x_panel">
    <ul class="nav nav-tabs bar_tabs">
        <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="'/home/profilepage/edit_userprofile/'">Profile</a></li>
        <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="'/home/profilepage/edit_address/'">Address</a></li>
        <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="'/home/profilepage/edit_password/'">Password
                Change</a></li>
    </ul>
    <div class="tab-content">

        <form [formGroup]="userprofileForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()" style="padding: 20px">
            <h2> Profile</h2>
            <hr>
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="profile_img">
                        <div id="crop-avatar"><img alt="Avatar" class="img-thumbnail img-responsive avatar-view" style="border-radius:5%;height: 210px; margin: 0 auto;"
                                title="Change the avatar" [src]="userprof_media || 'assets/images/user.png'"></div>
                    </div>
                    <div class="form-group">
                        <input accept=".jpeg, .jpg, .png" class="form-control" (change)="onFileChange($event)" placeholder="Profile Picture"
                            style="margin-top:25px" type="file">
                        <span style="font-size:12px;">Formats: jpeg, jpg, png. Size: 1MB</span>
                    </div>
                </div>
                <div class="col-md-9 col-xs-12">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label>First Name:</label>
                                <input formControlName="first_name" class="form-control" placeholder="First Name"/>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label>Middle Name:</label>
                                <input formControlName="middle_name" class="form-control" placeholder="Middle Name"/>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label>Last Name:</label>
                                <input formControlName="last_name" class="form-control" placeholder="Last Name"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label>Email:</label>
                                <input formControlName="email" class="form-control" placeholder="Email" type="email"/>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label>Date of Birth:</label>
                                <input formControlName="dob"
                                placeholder="dd/mm/yyyy"
                                class="form-control"
                                bsDatepicker
                                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue'}"
                                autocomplete="off">
                                <!-- <ng-datepicker 
                                formControlName="dob" [options]="options"></ng-datepicker> -->
                                <!-- <input type="date" formControlName="dob" class="form-control" placeholder="Date of Birth"/> -->
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && f.personal_mobile_no.errors }">
                                <label>Phone:</label>
                                <input type="number" formControlName="personal_mobile_no" class="form-control"/>
                                <div *ngIf="submitted && f.personal_mobile_no.errors" class="help-block">
                                    <div *ngIf="f.personal_mobile_no.errors.min || f.personal_mobile_no.errors.max">Phone Number must be 10 digits</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <a class="btn btn-danger pull-right" [routerLink]="'/home/profilepage/'">
                    <i class="fa fa-close"></i> Close</a>
                <button class="btn btn-primary pull-right" type="submit">
                    <i class="fa fa-edit"></i> Update</button>
            </div>
        </form>
    </div>
</div>
